.register-section {
    background: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.register-card {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 900px; /* Aumenté el máximo ancho */
}

.register-image {
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
    height: 100%;
}

.register-input {
    background-color: transparent;
    border: 2px solid #6c757d;
    color: white;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    padding: 8px;
}

.register-input:focus {
    border-color: #ff6219;
    box-shadow: 0 0 10px rgba(255, 98, 25, 0.6);
}

.register-label {
    color: #d1d1e0;
    font-size: 14px;
}

.register-button {
    background-color: #ff6219;
    color: white;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding: 8px 20px;
    font-size: 14px;
}

.register-button:hover {
    background-color: #e55d00;
    transform: scale(1.05);
}

.register-link {
    color: #ff6219;
    transition: color 0.3s ease-in-out;
    font-size: 14px;
}

.register-link:hover {
    color: #ff921f;
    text-decoration: underline;
}

.card-body {
    padding: 20px;
}
